In [5]:
from pandas import Series, DataFrame
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
#내부에 차트를 출력(매직 명령어) 
%matplotlib inline

#마이캠퍼스 시리즈 객체를 생성
myCampus = Series([100,200,300,400,500], 
index=['2025-01-01','2025-01-02','2025-01-03',
       '2025-01-04','2025-01-05'])

#특정행을 슬라이싱
myCampus["2025-01-03"]
#셀을 실행할 때 shift + enter

np.int64(300)

In [ ]:
#리스트를 Dataframe으로 변환
sample1 = [["아이폰17",1790000], ["아이폰16",1490000],
    ["아이폰15",1290000]]
column1 = ["제품명","가격"]
df1 = DataFrame(data=sample1, columns=column1)
df1

     제품명       가격
0  아이폰17  1790000
1  아이폰16  1490000
2  아이폰15  1290000

In [8]:
#dict를 DataFrame으로 변환
data = {"foreigner":[1,2,3,4,5,6], 
        "sratio":[10,20,30,40,50,60],
        "org":[100,200,300,400,500,600],
        "sprice":[1,2,3,4,5,6], 
        "private":[10,20,30,40,50,60]
}

frame1 = DataFrame(data)
frame1

   foreigner  sratio  org  sprice  private
0          1      10  100       1       10
1          2      20  200       2       20
2          3      30  300       3       30
3          4      40  400       4       40
4          5      50  500       5       50
5          6      60  600       6       60

In [13]:
#컬럼의 순서를 지정
frame2 = DataFrame(data, 
    columns=["foreigner","org","private","sprice","sratio"], 
    index=["2025-09-01","2025-09-02","2025-09-03",
           "2025-09-04","2025-09-05","2025-09-06"])

frame2 
#Dataframe을 시리즈로 자르기 
frame2["private"]

2025-09-01    10
2025-09-02    20
2025-09-03    30
2025-09-04    40
2025-09-05    50
2025-09-06    60
Name: private, dtype: int64

In [16]:
#특정 행을 슬라이싱(location 약어)
frame2.loc["2025-09-01"]

foreigner      1
org          100
private       10
sprice         1
sratio        10
Name: 2025-09-01, dtype: int64

In [17]:
#피보팅을 하면(열과 형을 변환)
frame2.T

,2025-09-01,2025-09-02,2025-09-03,2025-09-04,2025-09-05,2025-09-06
foreigner,1,2,3,4,5,6
org,100,200,300,400,500,600
private,10,20,30,40,50,60
sprice,1,2,3,4,5,6
sratio,10,20,30,40,50,60